<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>one</servlet-name>
        <servlet-class>servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>one</servlet-name>
        <url-pattern>/one</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>two</servlet-name>
        <servlet-class>servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>two</servlet-name>
        <url-pattern>/two</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>three</servlet-name>
        <servlet-class>servlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>three</servlet-name>
        <url-pattern>/three</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>four</servlet-name>
        <servlet-class>servlet4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>four</servlet-name>
        <url-pattern>/four</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>five</servlet-name>
        <servlet-class>servlet5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>five</servlet-name>
        <url-pattern>/five</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>six</servlet-name>
        <servlet-class>servlet6</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>six</servlet-name>
        <url-pattern>/six</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>seven</servlet-name>
        <servlet-class>servlet7</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>seven</servlet-name>
        <url-pattern>/seven</url-pattern>
    </servlet-mapping>
</web-app>